.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_count {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-primary);
}

.actions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.reports_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-bottom: 24px;
}
