.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.statusCell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.file {
    color: var(--color-text-primary);
}

.receiptLink:hover {
    text-decoration: underline;
}
